.product {
  &-main {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    border-bottom: 1px solid #d6d6d6;
  }
  &-img {
    width: 30%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  &-info {
    margin-left: 5rem;
    width: 70%;
    background-color: #eeee;
    padding: 12px;
    border-radius: 4px;
    h3 {
      font-size: 1.4rem;
      margin-bottom: 4px;
    }
    h3,
    label {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
